<!DOCTYPE html>
<html>
<head>
	<title>Bumper Cars Online</title>
	<meta charset="utf-8">
	<%= stylesheet_link_tag "main" %>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<%= yield %>
	
	<!-- Vendor -->
	<script type="text/javascript" src="javascripts/node_modules/socket.io-client/dist/socket.io.js"></script>
	

	<!-- App -->
	<script type="text/javascript" src="javascripts/myCar.module.js"></script>
	<script type="text/javascript" src="javascripts/controls.module.js"></script>
	<script type="text/javascript" src="javascripts/canvas.module.js"></script>
	<script type="text/javascript" src="javascripts/bumperCars.js"></script>
</body>
</html>